<%= form_for [@user, @company, @position], html: { class: "left" } do |f| %>

  <p style="text-align:center">
    <%= link_to "Back to #{@company.name} Profile", user_company_path(@user, @company) %>
  </p>
  
  <%= flash_messages %>
  
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        This form contains <%= pluralize(@position.errors.count, "error") %>
      </div>
      <ul>
        <% @position.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <h4 class="seperator">Position Details</h4>
  <hr>

  <p>
    <%= f.label "Name" %><span class="required_star">*</span><br>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :url, "URL" %></span><br>
    <%= f.text_field :url, class: 'form-control' %>
  </p>

  <p>
    <%= f.label "Description" %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </p>

  <% if f.object.new_record? %>
    <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <p style="text-align:center">
    <%= link_to 'Cancel', user_company_path(@user, @company), 
      class: "btn btn-large btn-primary", style: "margin-top:10px; width:100%" %> 
    </p>
  <% else %>
    <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <p style="text-align:center">
    <%= link_to 'Delete Position', user_company_position_path, method: :delete, data: { confirm: 'Are you sure?' }, 
      class: "btn btn-large btn-primary", style: "margin-top:10px; width:100%" %> 
    </p>
  <% end %>

<% end %>
