<div class="center">
  
  <h1>User Account Details</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
    <% if !flash.empty? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
      </div>
    </div>
    <% end %>

    <% if logged_in? %>

      <h4 class="seperator">Your Account Details</h4>
      <hr>    
      <p>
        <b>Email</b> :
        <%= @current_user.email %>
      </p>
      <%= link_to 'Change Password', edit_user_path(@user) %><br/>
      <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: "Are you sure you want to delete your account and all associated posts? This can't be undone" } %><br/>


      <h4 class="seperator">Companies (<%= @user.companies.count %>)</h4>
      <hr>
      
      <div class="col-md-12">
        <p style="margin-bottom:20px">
        <%= link_to 'Add New Company', new_user_company_path(@user) %><br/> 
        <%= link_to 'Show Company Filters', 'javascript:void(0)', id: "filter_toggle_link" %><br/>
        </p>
        
        <%= render :partial => '/companies/filters' %>

        <% if @user.companies.any? %>
          <table class="table table-bordered table-striped sortable" summary="User company list" style="margin-left:auto;margin-right:auto; margin-top:40px" id="company_table" data-sortable>
            <thead>
              <tr>
                <th data-align="center" data-field="name" data-sortable="true" style="text-align:center">Name</th>
                <th data-align="center" data-field="status" data-sortable="true" style="text-align:center">Status</th>
                <th data-align="center" data-field="updated" data-sortable="true" style="text-align:center">Updated</th>
                <th data-align="center" data-field="location" data-sortable="true" style="text-align:center">Location</th>
                <th data-align="center" data-field="size" data-sortable="true" style="text-align:center">Size</th>
                <th style="text-align:center">Action</th>
              </tr>
            </thead>
            <tbody>
              <%= render @companies %>
            </tbody>
          </table>
          <%= will_paginate @companies %>
        <% end %>
      </div>


      <!--<h4 class="seperator"> Contacts </h4>-->


    <% end %>

    </div>
  </div>
</div>

