<div class="center">
  
  <h1>User Account Details</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
    <%= flash_messages %>      
    
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
        This form contains <%= pluralize(@user.errors.count, "error") %>
        </div>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    
    <h4 class="seperator">Your Account Details</h4>
      <hr>    
      <p>
        <b>Email</b> :
        <%= @current_user.email %>
      </p>
      <%= link_to 'Change Email', change_email_path(@user) %><br/>
      <%= link_to 'Change Password', edit_user_path(@user) %><br/><br/>
      <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: "Are you sure you want to delete your account and all associated posts? This can't be undone" } %><br/>

      <h4 class="seperator">Pages</h4>
      <hr>

      <%= link_to 'Companies', user_companies_path(@current_user) %><br/>
      <%= link_to 'Calendar', calendar_path(@current_user) %>

    </div>
  </div>
</div>

