<%= form_tag "company_filters", id: "company_filters", name: "company_filters", style: "text-align:left", class: "filter_box" do |f| %>

  <div class="form-group">
    <%= label_tag 'filter_name', 'Name' %>
    <%= search_field_tag 'filter_name', '', id: "filter_results_name", class: "filter_results form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag 'filter_status', 'Status'%>
    <%= search_field_tag 'filter_status', '', id: "filter_results_status", class: "filter_results form-control" %>
  </div>

  <%= label_tag 'filter_updated', 'Updated On or After' %>
  <div class="form-group">
    <div class="form-inline">
      <div class="form-group col-md-4" style="padding-left:0px; padding-right:2px">
        <%= search_field_tag 'filter_updated_year', '', id: "filter_updated_year", class: "filter_results col-md-4 form-control", placeholder: "Year (YYYY)", style: "width:100%" %>
      </div>
      <div class="form-group col-md-4" style="padding-left:2px; padding-right:2px">
        <%= search_field_tag 'filter_updated_month', '', id: "filter_updated_month", class: "filter_results col-md-4 form-control", placeholder: "Month (MM)", style: "width:100%" %>
      </div>
      <div class="form-group col-md-4" style="padding-left:2px; padding-right:0px">
        <%= search_field_tag 'filter_updated_day', '', id: "filter_updated_day", class: "filter_results col-md-4 form-control", placeholder: "Day (DD)", style: "width:100%" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag 'filter_location', 'Location'%>
    <%= search_field_tag 'filter_location', '', id: "filter_results_location", class: "filter_results form-control" %>
  </div>

  <%= label_tag 'filter_size_min', 'Size' %>
  <div class="form-group">
    <div class="form-inline">
      <div class="form-group col-md-6" style="padding-left:0px; padding-right:2px">
        <%= search_field_tag 'filter_size_min', '', id: "filter_results_size_min", class: "filter_results form-control", placeholder: "Minimum size", style: "width:100%" %>
      </div>
      <div class="form-group col-md-6" style="padding-left:2px; padding-right:0px">
        <%= search_field_tag 'filter_size_max', '', id: "filter_results_size_max", class: "filter_results form-control", placeholder: "Maximum size", style: "width:100%" %>
      </div>
    </div>
  </div>

<% end %>
