<h1><%= @company.name %></h1>

<div class="outer_form_container">
  <div class="form_boundary">
    
    <p style="text-align:center">
      <%= link_to 'Back to User Profile', user_path(current_user) %> 
    </p>

    <%= flash_messages %>

    <h4 class="seperator">Company Details</h4>
    <hr>

    <div style="font-size:15px;"> 
      <dl class="detail_box">

        <dt>
          <b>Name </b>:
        </dt>
        <dd><%= @company.name %></dd>

        <dt>
          <b>Status </b>: 
        </dt>
        <dd><%= @company.status %></dd>

        <% if !@company.location.empty? %>
        <dt>
          <b>Location </b>:
        </dt>
        <dd><%= @company.location %></dd>
        <% end %>

        <% if !@company.size.empty? %>
        <dt>
          <b>Size </b>: 
        </dt>
        <dd><%= @company.size %></dd>
        <% end %>

        <% if !@company.website.empty? %>
        <dt>
          <b>Website </b>:
        </dt>
        <dd><%= link_to "#{@company.website}", "http://#{@company.website}" %></dd>
        <% end %>

        <% if !@company.details.empty? %>
        <dt>
          <b>Details </b>:
        </dt>
        <dd><%= @company.details %></dd>
        <% end %>

      </dl>
    </div>

    <p style="width:100%; text-align:center; margin-top:20px;">
      <b>Created </b>: <%= time_ago_in_words(@company.created_at) %> ago<br/>
      <b>Updated </b>: <%= time_ago_in_words(@company.updated_at) %> ago
    </p>


    <div style="margin-top:30px; margin-bottom:10px; max-width:250px; margin-left:auto; margin-right:auto">
      <%= link_to 'Edit Company Details', edit_user_company_path(@user, @company),
          class: 'btn btn-large btn-primary', style: 'width:100%; margin-bottom:10px' %>
      <%= button_to 'Delete Company', user_company_path, method: :delete, data: { confirm: 'Are you sure?'},
          class: 'btn btn-large btn-primary' %>
    </div>

    <!-- COMPANIES -->
    <p>
    <% if @company.contacts.count == 0 %>                                                                                                                                     
      <h4 class="seperator">Company Contacts</h4>
    <% else %>
      <h4 class="seperator">Company Contacts (<%= @company.contacts.count %>)</h4>
    <% end %>
    
    <hr>
    
    <% if @company.contacts.any? %>
      <%= render @contacts %>
    <% end %>
    <%= will_paginate @contacts %>
  
    </p>

    <div style="margin-top:30px; margin-bottom:10px; max-width:250px; margin-left:auto; margin-right:auto">
      <%= link_to 'Add New Contact', new_user_company_contact_path(@user, @company),
          class: 'btn btn-large btn-primary', style: 'width:100%; margin-bottom:10px'%>
    </div>
    
    <!-- POSITIONS -->
    <p>
    <% if @company.positions.count == 0 %>                                                                                                                                    
      <h4 class="seperator">Company Positions</h4>
    <% else %>
      <h4 class="seperator">Company Positions (<%= @company.positions.count %>)</h4>
    <% end %>
    
    <hr>
    
    <% if @company.positions.any? %>
      <%= render @positions %>
      <%= will_paginate @positions %>
    <% end %>
  
    </p>
    <div style="margin-top:30px; margin-bottom:10px; max-width:250px; margin-left:auto; margin-right:auto">
      <%= link_to 'Add New Position', new_user_company_position_path(@user, @company),
          class: 'btn btn-large btn-primary', style: 'width:100%; margin-bottom:10px'%>
    </div>

    <!-- ATTACHMENTS -->
    <p>
    <h4 class="seperator">Attachments</h4>
    
    <hr>
    </p>
    <div style="margin-top:30px; margin-bottom:10px; max-width:250px; margin-left:auto; margin-right:auto">
      
      <% if @company.attachment.exists? %>
        <%= link_to "#{@company.attachment.original_filename}", @company.attachment.url(:original, false), style: 'text-align:center; width:100%' %><br/>
        <%= form_for [@user, @company], url: user_company_path(@user, @company), html: { multipart: true } do |f| %>
          <%= link_to 'Delete Attachment', remove_company_attachment_path, class: 'btn btn-large btn-primary', style: 'margin-top:20px; width:100%' %>
        <% end %>
        <!-- TODO: ADD Delete -->
      <% else %>
        <%= form_for [@user, @company], url: user_company_path(@user, @company), html: { multipart: true } do |f| %>
          <%= f.hidden_field :name, :value => @company.name %>
          <%= f.file_field :attachment, style: "border:none" %>
          <!-- TODO: Add description -->
          <%= f.submit "Upload", class: "btn btn-large btn-primary" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
